<div class="row">
    <div ng-include src="'partials/nav.html'"></div>
    <div class="row">
        <h3 class="col s12 center-align grey-text text-darken-2">Users</h3>
        <div class="col s12 m6 l6 offset-m3 offset-l3">
            <input class="btn waves-effect waves-light" type="button" ng-click="createUser()" value="Create"/>
            <div class="collection">
                <a href="#/users/{{ user.id }}" class="collection-item" ng-repeat="user in users | orderBy:'last_name'">
                    {{ user.last_name }}, {{ user.first_name }}
                </a>
            </div>
        </div>
    </div>
</div>