<div class="row">
    <div ng-include src="'partials/nav.html'"></div>
    <div class="row">
        <h5 class="col s4 offset-s4 center-align grey-text text-darken-2">Upload file</h5>
        <button type="file" ngf-select="uploadFiles($file, $invalidFiles)">Select File</button>
        <br><br>
        File:
        <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
            <span class="progress" ng-show="f.progress >= 0">
                <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
            </span>
        </div>
        {{errorMsg}}

        <!--<form class="col s12">-->
            <!--<div class="row">-->
                <!--<div class="file-field input-field col s4 offset-s4">-->
                    <!--<div class="btn">-->
                        <!--<span>File</span>-->
                        <!--<input type="file" ngf-select ng-model="file" name="file"/>-->
                    <!--</div>-->
                    <!--<div class="file-path-wrapper">-->
                        <!--<input class="file-path validate" type="text" placeholder="Select file"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col s4 offset-s4">-->
                    <!--<p class="right-align">-->
                        <!--<input class="btn waves-effect waves-light" type="button" ng-click="cancelUpload()" value="Cancel">-->
                        <!--<input class="btn waves-effect waves-light" type="button" ng-click="submit()" value="Upload">-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    </div>
</div>
