<div class="row">
    <div ng-include src="'partials/nav.html'"></div>
    <div class="row">
        <h3 class="col s12 center-align grey-text text-darken-2">Tasks</h3>
        <div class="col s12 m6 l6 offset-m3 offset-l3">
            <input class="btn waves-effect waves-light" type="button" ng-click="createTask()" ng-if="currentUser.is_admin" value="Create"/>
            <div class="collection">
                <a href="#/tasks/{{ task.id }}" class="collection-item" ng-repeat="task in tasks">Task</a>
            </div>
        </div>
    </div>
</div>
